{% extends "layout.html" %}

{% block title %}
    change password
{% endblock %}

{% block main %}


<form method = "post">

                    <div class="mb-3">
                        <input class="form-control mx-auto w-auto" name="current_password" placeholder="current Password" type="password" required>
                    </div>
                    <div class = "mb-3">
                    <input class="form-control mx-auto w-auto" name="new_password" placeholder="new Password" type="password" required>
                    </div>
                    <div class = "mb-3">
                    <button class="btn btn-primary" type="submit">submit</button>
                    </div>

    </form>



{% endblock %}
